html 
    head
        link(rel="stylesheet", href="css/style.css")
        title=title
        script(src="js/script.js") 
    body
        div(style='background-color: lightblue;' class='container')
            h1= message.name
            div= message.age