<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <div style="background-color: lightblue;" class="container" >
        <h1>Welcome</h1>
        <h1><%= message.name %></h1>
        <p>Age: <%= message.age %></p>
    </div>
</body>