html
    head 
        title Students List
    body
        h1 Students List
        div
            each student in students
                div= student.rollNumber + ' - ' + student.name + ' - ' + student.address
                    span 
                        a(href='/students/' + student._id) View
                        |  | 
                        a(href='/students/' + student._id + '/edit') Edit
                        |  | 
                        
                        form(style='display:inline;' action='/students/' + student._id + '/delete', method='POST')
                            button(type='submit') Delete