html
    head
        title= title
    body
        h1 User Details
        div
            p Roll Number: #{student.rollNumber}
            p Name: #{student.name}
            p Address: #{student.address}